@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

[lang="ja"] {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
}

body {
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

header {
  margin: 1rem;
}

h1,
h2 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 2rem;
  margin-top: .5em;
}

h2 {
  font-size: 1.125rem;
}

ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  padding-left: 0;
  margin-top: 0;
}

a {
  color: #3783a3;
  font-size: 1.125rem;
}
